<!-- Nav -->
			<nav>
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/pastor_aleman">pastor_aleman</a></li>
					<li><a href="/chihuahua">chihuahua</a></li>
				</ul>
			</nav>