<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Home</title>
</head>
<body>
    

 {{>header}}
{{>nav}}
 


    

<h1>Conozcamos sobre los perros </h1>
<h2>Perros Domésticos</h2>
<p>
<strong>¿Qué es un perro doméstico?</strong>
El término “perro doméstico” se refiere a cualquiera de los cientos de razas de perros que hay en el mundo hoy en día. 
Si bien estos animales varían drásticamente en cuanto a su apariencia, todos los perros, desde el chihuahua hasta el gran danés, 
son miembros de la misma especie, Canis familiaris. Esto separa a los perros domésticos de los caninos salvajes, como coyotes, zorros y lobos.
Los perros domésticos se mantienen principalmente como mascotas, aunque muchas razas son capaces de sobrevivir por sí mismas, ya sea en un bosque o 
en las calles de una ciudad. Según un estudio realizado en 2016, un tercio de todos los hogares del mundo tienen un perro. Esto convierte al perro 
doméstico en la mascota más popular del planeta.
</p>
<hr>
<h2>Fotografias de perros</h2>
<div id="seccionPerros">
<div id="perrosfotos">
<img src="../images/perros.jpg" alt="">
</div>
</div>


{{>footer}}
</body>
</html>