<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../css/estilos.css">

    <title>Pastor Aleman</title>
</head>
<body>
     {{>header}}
{{>nav}}

<h1>Acerca de los Perros Raza: Pastor Aleman</h1>
<p>Los Pastores alemanes son una de las razas más 
reconocibles del mundo. Tienen un aspecto musculoso y 
atento y una actitud noble y distante. Son perros ágiles y bien 
equilibrados de porte orgulloso. Su pelaje puede presentar varios 
colores (consulta el estándar de la raza) y están formados por un manto 
superior duro, áspero y lacio, y un manto inferior grueso. 
La altura ideal del macho adulto es de 63 cm y la de la hembra, 58 cm.
 El peso puede estar entre 30 y 36 kg.</p>
<img src="" alt="">

<div id="seccionPerros">
<div id="perrosfotos">
<img src="../images/pastor1.jpeg" alt="">
<img src="../images/pastor2.jpeg" alt="">
</div>
</div>

{{>footer}}

</body>
</html>