*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(210, 247, 249);
    background-attachment: fixed;

  }

header {
    background: rgb(225, 235, 232);
    background: linear-gradient(
      80deg,
      rgb(197, 236, 228) 0%,
      rgb(177, 233, 223) 44%,
      rgb(213, 250, 248) 92%
    );
    width: 100%;
    position: relative;
    z-index: 1;
    border-bottom: 2px solid;
    font-family: Arial;
    font-size: 20px;
    
  }

header #logo {
    display: flex;
    justify-content: flex-start;
    width: 60px;
    height: 80px;
    margin: 20px;
}


nav {
    
    background: rgb(177, 250, 229);
    background: linear-gradient(
      80deg,
      rgb(121, 203, 187) 0%,
      rgb(177, 233, 223) 44%,
      rgb(213, 250, 248) 92%
    );
    width: 100%;
    height: 68px;
    margin-top: -2vh;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  li {
    list-style: none;
    display: inline;
    margin-right: 40px;
}
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  a:hover {
    color: rgb(241, 111, 60);
  }
  .navbar .links:hover {
    scale: 1.02;
  }

  #perrosfotos img{
    width: 600px;
    height: 500px ;
  }

.footer1{
  background: rgb(177, 250, 229);
  background: linear-gradient(
    80deg,
    rgb(121, 203, 187) 0%,
    rgb(177, 233, 223) 44%,
    rgb(213, 250, 248) 92%
  );
height: 80px;
width: 110%;
display: flex;
justify-content: flex-start;

}
.footer1 img{

  width: 5%;
  height: 100% ;
  
}