<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../css/estilos.css">

    <title>Chihuahua</title>
</head>
<body>
    <!-- Header -->
			<header >
            <img id="logo" src="../images/logo hq.png" alt="">
            
			</header>

<br>
		<!-- Nav -->
			<nav>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="pastor_aleman.html">pastor_aleman</a></li>
					<li><a href="chihuahua.html">chihuahua</a></li>
				</ul>
			</nav>
<h1>Acerca de los Perros Raza: Chihuahua</h1>

<p>El chihuahua o chihuahueño​ es una raza de perro originaria de México. Es una de las razas de perros más antiguas del continente americano, además de ser el perro más pequeño del mundo.

El perro chihuahua es originario del estado mexicano de Chihuahua. Sin embargo, a diferencia de lo que muchos creen, no es la razón de su nombre, ya que en la lengua del pueblo rarámuri significa “lugar árido y arenoso”. El nombre original de este ejemplar es chihuahueño y su variación se debió a la manipulación en Estados Unidos para referirse a la raza.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/hjVEXmigBns?si=Rhlc0eBg_eHryWLr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<div id="seccionPerros">
<div id="perrosfotos">
<img src="../images/perros.jpg" alt="">
</div>
</div>
<footer class="footer1">

    <img id="logoFooter" src="Image/logo hq.png" />
    <p><strong>Henry Isai Quenun cruz <br> 2290-20-6883</strong></p> 
     </footer>
</body>
</html>