<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/DesarrolloWeb/public/css/estilos.css">

    <title>Chihuahua</title>
</head>
<body>
    <!-- Header -->
			<header >
            <img id="logo" src="../images/logo hq.png" alt="">
            
			</header>

<br>
		<!-- Nav -->
			<nav>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="pastor_aleman.html">pastor_aleman</a></li>
					<li><a href="chihuahua.html">chihuahua</a></li>
				</ul>
			</nav>
<h1>Acerca de los Perros Raza: Pastor Aleman</h1>

<footer></footer>
</body>
</html>